.listing:nth-child(even) {
  background-color: #eeeeee;
}

.listing > div {
  margin-top: 16px;
}

.listing {
  border: 1px dotted black;
}

.highlight {
  background-color: darkblue;
}

#error {
  color: red;
}
